{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<!-- select2 -->
<link href="{% static '/assets/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cargar un Contacto </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />



     <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a onclick="abrirProveedor()" href="#">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Datos personales<br />
                                              <small></small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Guardar Contacto<br />
                                              <small></small>
                                          </span>
                          </a>
                        </li>
                 
                      </ul>
                      <div id="step-1">
                       <form method="POST"  class="form-horizontal form-label-left">
                            {% csrf_token %}
                              <!-- controles -->
                              <div class="form-group row ">
                                  <label class="control-label col-md-3 col-sm-3 ">Tipo de Contacto</label>
                                  <div class="col-md-9 col-sm-9 ">
                                      {{ form.tipo_contacto }}
                                      <!-- error -->
                                          {% if form.tipo_contacto.errors %}
                                            <div class="alert alert-danger" role="alert">
                                              <p>{{ form.tipo_contacto.errors|striptags }}</p>
                                            </div>  
                                          {% endif %}
                                        <!-- error -->
                                  </div>
                                  </div>
                              <!-- controles -->

                                <!-- controles -->
                              <div class="form-group row ">
                                  <label class="control-label col-md-3 col-sm-3 ">Valor</label>
                                  <div class="col-md-9 col-sm-9 ">
                                      {{ form.valor }}
                                      <!-- error -->
                                          {% if form.valor.errors %}
                                            <div class="alert alert-danger" role="alert">
                                              <p>{{ form.valor.errors|striptags }}</p>
                                            </div>  
                                          {% endif %}
                                        <!-- error -->
                                  </div>
                                  </div>
                              <!-- controles -->

                              <div class="ln_solid"></div>
                              <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                  <a  href="/proveedores/listado" type="button" class="btn btn-secondary"><i class="fa fa-times"></i></a>
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
                                </div>
                              </div>

                            </form>
                               <br /><br /><br />

                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Imagen</th>
                                      <th>Sector</th>
                                      <th>Eliminar</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                    {% for contacto in object_list %}

                                          <tr>
                                            <th scope="row">{{ contacto.tipo_contacto }}</th>
                                            <td>{{ contacto.valor }}</td>
                                            <td><a href="/proveedores/contactos/eliminar/{{ contacto.id }}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                          </tr>
                                      {% empty %}
                                      <div class="alert alert-error" role="alert">No existen registro cargados con esa busqueda</div>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              
                              </div>
                            </div>                          
                      </div>
                      <div id="step-2">
                     
                      </div>

                    </div>
                    <!-- End SmartWizard Content -->

        </div>
      </div>
    </div>


   
  </div>


{% endblock %}

{% block extra_js %}
<!-- select2 -->
<script src="{% static '/assets/select2/dist/js/select2.min.js' %}"></script>
<!-- jQuery Smart Wizard -->
<script src="{% static '/assets/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

<script>
  function abrirProveedor(){
    window.location.href="/proveedores/editar/{{ id_proveedor }}"
  }
</script>
{% endblock %}