{% extends './skell.html' %}

{% block menu %}
<ul class="nav side-menu">

  <li><a><i class="fa fa-shopping-cart"></i> Stock <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="/articulos/listado">Artículos</a></li>
        <li><a href="/proveedores/listado">Proveedores</a></li>
        <li><a href="/pedidos/listado">Pedidos</a></li>
        <li><a href="/compras/base">Compras</a></li>
        <li><a>Complementos<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li ><a href="/complementos/marcas/listado">Marcas</a>
          </li>
          <li ><a href="/complementos/rubros/listado">Rubros</a>
          </li>
        </ul>
    </ul>
  </li>   

    <li><a><i class="fa fa-user"></i> Clientes <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="/clientes/listado">Clientes</a></li>
      </ul>
    </li>   

    <li><a><i class="fa fa-bed"></i> Alquileres <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="/reservas/listado">Reservas</a></li>
         <li><a href="/cabanias/mapa">Ver mapa</a></li>
      </ul>
    </li> 

    <li><a><i class="fa fa-cutlery"></i> Restaurant <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Ver mapa</a></li>
      </ul>
    </li> 

    
    <li><a><i class="fa fa-key"></i> Administración <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Caja Actual</a></li>
        <li><a href="#">Gastos Generales</a></li>
        <li><a href="#">Ventas</a></li>
      </ul>
    </li>
                              
  </ul>
{% endblock %}