{% extends './skell.html' %}

{% block menu %}
<ul class="nav side-menu">

  <li><a><i class="fa fa-shopping-cart"></i> Artículos <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
       <li><a href="/articulos/alta">Cargar Artículos</a></li>
          <li><a href="/articulos/listado">Listar Artículos</a>
            <li><a>Complementos<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/complementos/marcas/alta">Cargar marcas</a>
                </li>
                <li ><a href="/complementos/marcas/listado">Listar marcas</a>
                </li>
                <li><a href="/complementos/rubros/alta">Cargar rubros</a>
                </li>
                <li ><a href="/complementos/rubros/listado">Listar rubros</a>
                </li>
              </ul>
              
          </li>
    </ul>
  </li>   

  <li><a><i class="fa fa-shopping-cart"></i> Compras <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
       <li><a href="#">Hacer un Pedido</a></li>
       <li><a href="#">Cargar Compra</a></li>
    </ul>
  </li>   

    <li><a><i class="fa fa-user"></i> Clientes <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="/clientes/alta">Registrar Cliente</a></li>
        <li><a href="/clientes/listado">Listar Clientes</a></li>
      </ul>
    </li>   

    <li><a><i class="fa fa-bed"></i> Alquileres <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Realizar una reserva</a></li>
        <li><a href="#">Listado de cabañas reservadas</a></li>
      </ul>
    </li> 

    <li><a><i class="fa fa-cutlery"></i> Restaurant <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Ver mapa</a></li>
      </ul>
    </li> 

    <li><a><i class="fa fa-user"></i> Proveedores <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Registrar Proveedor</a></li>
        <li><a href="#">Listar Proveedores</a></li>
      </ul>
    </li>       
    <li><a><i class="fa fa-cart-plus"></i> Compras <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Registrar Compra</a></li>
        <li><a href="#">Listar Compras</a></li>
      </ul>
    </li>      
    <li><a><i class="fa fa-key"></i> Administración <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="#">Caja Actual</a></li>
        <li><a href="#">Gastos Generales</a></li>
        <li><a href="#">Ventas</a></li>
      </ul>
    </li>
                              
  </ul>
{% endblock %}