{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Lista de Marcas </h2>
         
          <!-- buscador de listado -->
          <div class="title_right">
          <form method="GET">
              <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                  <input name="search" type="text" class="form-control" placeholder="Buscar por ...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Aceptar</button>
                  </span>
                </div>
                 
                
              </div>
              <div class="col-md-1 col-sm-1 offset-md-1">
                    <a  href="/complementos/marcas/alta" type="button" class="btn btn-secondary"><i class="fa fa-file"></i></a>
                    <button class="btn btn-secondary" type="button"><i class="fa fa-print"></i></button>
              </div>
          </form>  
            
          </div>

          <!-- buscador de listado -->
          
          <div class="clearfix"></div>
        

        </div>

         

        <div class="x_content">
          <br />
         
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              
              {% for marca in object_list %}

              <tr>
                <th scope="row">{{ marca.id  }}</th>
                <th scope="row">{{ marca.descripcion  }}</th>
                
                <td><a href="/complementos/marcas/editar/{{ marca.id }}" type="button" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                <td><a href="/complementos/marcas/eliminar/{{ marca.id }}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


         {% if is_paginated %}
          <nav aria-label="Page navigation conatiner"></nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Atrás </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Siguiente &raquo;</a></li>

            {% endif %}
          </ul>
          </nav>
        </div>
        {% endif %}


        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}