{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cobrar reserva </h2>
                    
          <div class="clearfix"></div>

        </div>
        <div class="x_content">
          <br />
         
            <form method="POST"  class="form-horizontal form-label-left"> {% csrf_token %}

              <!-- controles -->
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Tipo de pago</label>
                    <div class="col-md-9 col-sm-9 ">
                        {{ form.tipo_pago }}
                        <!-- error -->
                            {% if form.tipo_pago.errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ form.tipo_pago.errors|striptags }}</p>
                            </div>  
                            {% endif %}
                        <!-- error -->
                    </div>
                </div>
             <!-- controles -->

             <!-- controles -->
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 ">Monto</label>
                    <div class="col-md-9 col-sm-9 ">
                        {{ form.monto }}
                        <!-- error -->
                            {% if form.monto.errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ form.monto.errors|striptags }}</p>
                            </div>  
                            {% endif %}
                        <!-- error -->
                    </div>
                </div>
             <!-- controles -->

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9  offset-md-3">
                <a  href="/reservas/listado" type="button" class="btn btn-secondary"><i class="fa fa-times"></i></a>
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
              </div>
            </div>

            </form>

        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}