{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cargar un Cliente </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form method="POST"  class="form-horizontal form-label-left">
          {% csrf_token %}
            <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Nombre</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.nombre }}
                    <!-- error -->
                        {% if form.nombre.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.nombre.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

              <!-- controles -->
              <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Apellido</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.apellido }}
                     <!-- error -->
                        {% if form.apellido.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.apellido.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                </div>
             <!-- controles -->

             <!-- controles -->
              <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Documento</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.numero_documento }}
                     <!-- error -->
                        {% if form.numero_documento.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.numero_documento.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                </div>
             <!-- controles -->

             <!-- controles -->
             <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Fecha de Nacimiento</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.fecha_nacimiento }}
                    <!-- error -->
                        {% if form.fecha_nacimiento.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.fecha_nacimiento.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                </div>
             <!-- controles -->

             <!-- controles -->
             <div class="form-group row ">
              <label class="control-label col-md-3 col-sm-3 ">E-mail</label>
              <div class="col-md-9 col-sm-9 ">
                  {{ form.email }}
                    <!-- error -->
                      {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                          <p>{{ form.email.errors|striptags }}</p>
                        </div>  
                      {% endif %}
                    <!-- error -->
              </div>
              </div>
           <!-- controles -->

            <!-- controles -->
            <div class="form-group row ">
              <label class="control-label col-md-3 col-sm-3 ">Teléfono</label>
              <div class="col-md-9 col-sm-9 ">
                  {{ form.telefono }}
                   <!-- error -->
                      {% if form.telefono.errors %}
                        <div class="alert alert-danger" role="alert">
                          <p>{{ form.telefono.errors|striptags }}</p>
                        </div>  
                      {% endif %}
                    <!-- error -->
              </div>
              </div>
           <!-- controles -->
          
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9  offset-md-3">
                <a  href="/clientes/listado" type="button" class="btn btn-primary">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
<script>
   $('#id_fecha_nacimiento').datetimepicker({
        format: 'DD/MM/YYYY'
    });
</script>
{% endblock %}