{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Lista de Clientes </h2>

           <div class="clearfix"></div>
                   
          </div>
          
          <!-- buscador de listado -->
          <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por ...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Aceptar</button>
                </span>
              </div>
            </div>
          </div>

          <!-- buscador de listado -->
          
          <div class="clearfix"></div>

        </div>
        <div class="x_content">
          <br />
         
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              
              {% for cliente in object_list %}
                <tr>
                  <th scope="row">{{ cliente.id  }}</th>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.apellido }}</td>
                  <td>{{ cliente.fecha_nacimiento }}</td>
                  <td>{% if cliente.email %}{{ cliente.email }}{% else %} -- {% endif %}</td>
                  <td>{% if cliente.telefono %}{{ cliente.telefono }}{% else %} -- {% endif %}</td>
                  <td><a href="/clientes/actualizar/{{ cliente.id }}" type="button" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                  <td><a href="/clientes/eliminar/{{ cliente.id }}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                </tr>
              {% empty %}
               <div class="alert alert-error" role="alert">No existen registro cargados con esa busqueda</div>
              {% endfor %}
            </tbody>
          </table>


        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}