{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Datos básicos </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
              <!-- controles -->
                <div class="form-group row ">
                  <label class="control-label col-md-3 col-sm-3 ">Fecha</label>
                    <div class="col-md-9 col-sm-9 ">
                        {{ form.fecha }}
                        <!-- error -->
                            {% if form.fecha.errors %}
                              <div class="alert alert-danger" role="alert">
                                <p>{{ form.fecha.errors|striptags }}</p>
                              </div>  
                            {% endif %}
                          <!-- error -->
                    </div>
                </div>
             <!-- controles -->

             <!-- controles -->
                <div class="form-group row ">
                  <label class="control-label col-md-3 col-sm-3 ">Artículo</label>
                    
                    <div class="col-md-1 col-sm-1 ">
                      <button onclick="abrirListaArticulos()" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </div>
             <!-- controles -->
        </div>
    </div>
  </div>

  <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Lista de Artículos a pedir </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />

          <!-- tabla de articulos -->
           <table id="id_lista_articulos_final" class="table">
                      <thead>
                        <tr>
                          <th>Cantidad</th>
                          <th>Descripción</th>
                          <th>Precio de Compra</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
              <!-- tabla de articulos -->
        </div>
    </div>
  </div>

<div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Totales y observación </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />



              <!-- controles -->
                <div class="form-group row ">
                  <label class="control-label col-md-3 col-sm-3 ">Precio Total</label>
                    <div class="col-md-9 col-sm-9 ">
                        {{ form.precio_compra }}
                        <!-- error -->
                            {% if form.precio_compra.errors %}
                              <div class="alert alert-danger" role="alert">
                                <p>{{ form.precio_compra.errors|striptags }}</p>
                              </div>  
                            {% endif %}
                          <!-- error -->
                    </div>
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                  <label class="control-label col-md-3 col-sm-3 ">Observación</label>
                    <div class="col-md-9 col-sm-9 ">
                        {{ form.observacion }}
                        <!-- error -->
                            {% if form.observacion.errors %}
                              <div class="alert alert-danger" role="alert">
                                <p>{{ form.observacion.errors|striptags }}</p>
                              </div>  
                            {% endif %}
                          <!-- error -->
                    </div>
                </div>
             <!-- controles -->

        </div>
         </div>
    </div>
  </div>


<!-- modal de lista de articulos  -->
 <div id="id_form_modal_lista_articulos" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lista de Artículos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input id="id_txt_search" name="search" type="text" class="form-control" placeholder="Buscar por ...">
                    <button onclick="buscarText()" class="btn btn-success"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </div>
        <div class="form-group">
          <table id="id_tabla_articulos" class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Código de barras</th>
                  <th>Descripción</th>
                  <th>Precio de Compra</th>
                  <th>Precio de Venta</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>

            <nav aria-label="..." id="id_div_pagination">
              <ul class="pagination">
                <li class="page-item">
                  <span onclick="paginaAtras()" class="page-link">Atrás</span>
                </li>
              
                <li class="page-item">
                  <a onclick="paginaSiguiente()" class="page-link" href="#">Siguiente</a>
                </li>
              </ul>
            </nav>



        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- modal de lista de articulos  -->

{% endblock %}

{% block extra_js %}
 <script>
    var texto_busqueda = '';
    var pagina = 1;
    $(document).ready(function (){
      loadListArticulos();
    })

     $('#id_fecha').datetimepicker({
        format: 'DD/MM/YYYY'
    });

    function abrirListaArticulos(){
      $('#id_form_modal_lista_articulos').modal('show');
    }

    function loadListArticulos(){
      ajaxArticulos(pagina)
    }

    function paginaSiguiente(){
      pagina += 1;
      ajaxArticulos(pagina)
    }

    function paginaAtras(){
      pagina -= 1;
      if (pagina < 1){
        pagina = 1;
      }
      ajaxArticulos(pagina)
      
    }

    function ajaxArticulos(pagina){
      $('#id_tabla_articulos tbody:last').empty(); // remover las filas de la tabla articulos
      $.ajax({
        url: '/pedidos/articulos/listado',
        type: 'get',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'pagina': pagina,
          'search': texto_busqueda
        },
        success: function(data){
          datos = JSON.parse(data); // parsear a json los datos
          
          if (datos.length <= 0){
            pagina = 1 ;
          } 
          for (var x=0; x < datos.length; x++){
            let articulos = datos[x].fields; // desarmo las filas de modelo 
            $('#id_tabla_articulos tbody:last').append('<tr onclick="seleccionArticulo(' + datos[x].pk + ')">' + 
            '<th>' + datos[x].pk + '</th>' + 
            '<th>' + articulos.codigo_barra  +'</th>' + 
            '<td>' + articulos.descripcion  +'</td>' + 
            '<td>$' + articulos.precio_compra  +'</td>' + 
            '<td>$' + articulos.precio_venta  +'</td>' + 
            '<td>' + articulos.stock  +'</td>' + 
            '</tr>'
            )
          }
        }
      })
    }

    function buscarText(){
      texto_busqueda = $('#id_txt_search').val();
      $('#id_tabla_articulos tbody:last').empty(); // remover las filas de la tabla articulos
       $.ajax({
        url: '/pedidos/articulos/listado',
        type: 'get',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'pagina': pagina,
          'search': texto_busqueda
        },
        success: function(data){
          datos = JSON.parse(data); // parsear a json los datos
          
          if (datos.length <= 0){
            pagina = 1 ;
          } 
          for (var x=0; x < datos.length; x++){
            let articulos = datos[x].fields; // desarmo las filas de modelo 
            $('#id_tabla_articulos tbody:last').append('<tr onclick="seleccionArticulo(' + datos[x].pk + ')>' + 
            '<td>' + datos[x].pk + '</td>' + 
            '<td>' + articulos.codigo_barra  +'</td>' + 
            '<td>' + articulos.descripcion  +'</td>' + 
            '<td>$' + articulos.precio_compra  +'</td>' + 
            '<td>$' + articulos.precio_venta  +'</td>' + 
            '<td>' + articulos.stock  +'</td>' + 
            '</tr>'
            )
          }
        }
      })
    }

    function seleccionArticulo(id){
      let cantidad = prompt('Ingrese la cantidad', '1')
      if (cantidad){
           $.ajax({
            url: '/pedidos/articulos/obtener',
            type: 'get',
            data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'id': id
            },
            success: function(data){
                 datos = JSON.parse(data); // parsear a json los datos
                  for (var x=0; x < datos.length; x++){
                    let articulos = datos[x].fields; // desarmo las filas de modelo 
                     console.log(articulos)
                     //id_lista_articulos_final
                      $('#id_lista_articulos_final tbody:last').append('<tr>' + 
                      '<td>' + cantidad + '</td>' + 
                      '<td>' + articulos.descripcion  +'</td>' + 
                      '<td>$' + articulos.precio_compra  +'</td>' + 
                      '<td> <button class="btn btn-danger"><i class="fa fa-trash" ></i></button> </td>' +
                      '</tr>'
                      )
                  }
            }
          })
      }
    }

 </script>
{% endblock %}