{% extends 'base.html' %}
{% block content %}
  
          <div class="row">
                <div class="x_panel">
                  <div class="x_content">
                     
                      <div class="clearfix"></div>

                      <div class="col-md-8 col-sm-8  profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                          </div>
                          <div class=" profile-bottom text-center">
                        
                            <div class=" col-sm-6 emphasis">
                             
                              <a href="/clientes/listado" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user"> </i> Clientes
                              </a>

                            </div>
                          </div>
                        </div>


                        <!-- acceso directos -->
                        <div class="well profile_view">
                          <div class="col-sm-12">
                          </div>
                          <div class=" profile-bottom text-center">
                        
                            <div class=" col-sm-6 emphasis">
                             
                              <a href="/admin" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user"> </i> Administrador
                              </a>

                            </div>
                          </div>
                        </div>
                        <!-- acceso directos -->

                         <!-- acceso directos -->
                        <div class="well profile_view">
                          <div class="col-sm-12">
                          </div>
                          <div class=" profile-bottom text-center">
                        
                            <div class=" col-sm-6 emphasis">
                             
                              <a href="/proveedores/listado" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user"> </i> Proveedores
                              </a>

                            </div>
                          </div>
                        </div>
                        <!-- acceso directos -->

                        <!-- acceso directos -->
                        <div class="well profile_view">
                          <div class="col-sm-12">
                          </div>
                          <div class=" profile-bottom text-center">
                        
                            <div class=" col-sm-6 emphasis">
                             
                              <a href="/articulos/listado" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-shopping-cart"> </i> Artículos
                              </a>

                            </div>
                          </div>
                        </div>
                        <!-- acceso directos -->




                      </div>

                      

                  </div>
                </div>
            </div>


{% endblock %}