{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
          
          <!-- buscador de listado -->
          <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
              <form method="GET" >
                <div class="input-group">
                    <input name="search" type="text" class="form-control" placeholder="Buscar por ...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">Aceptar</button>
                    </span>
                </div>
              </form>
            </div>
          </div>

          <!-- buscador de listado /articulos/imprimir/pdf/-->
          
           <div class="form-group">
              <div class="col-md-3 col-sm-3  offset-md-3">
                  <a  href="/articulos/alta" type="button" class="btn btn-secondary"><i class="fa fa-file"></i></a>
                  <a  href="/articulos/imprimir/pdf/" type="button" class="btn btn-secondary"><i class="fa fa-print"></i></a>
              </div>
            </div>

        <div class="x_content">
          <br />
         
          <table class="table">
            <thead>
              <tr>
                <th>Sector</th>
                <th>descripcion</th>
                <th>Referencia</th>
                <th>marca</th>
                <th>rubro</th>
                <th>precio compra</th>
                <th>precio venta</th>
                <th>stock</th>
                <th>Detalle</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              
              {% for articulo in object_list %}

              <tr>
                <th scope="row">{% if articulo.sector %}{{ articulo.sector }}{% else %}--{% endif %}</th>
                <td>{{ articulo.descripcion }}</td>
                <td>{% if articulo.referencia %}{{ articulo.referencia }}{% else %}--{% endif %}</td>
                <td>{% if articulo.marca %}{{ articulo.marca }}{% else %}--{% endif %}</td>
                <td>{% if articulo.marca %}{{ articulo.rubro }}{% else %}--{% endif %}</td>
                <td>{% if articulo.precio_venta %}${{ articulo.precio_compra }}{% else %}--{% endif %}</td>
                <td>{% if articulo.precio_venta %}${{ articulo.precio_venta }}{% else %}--{% endif %}</td>
                <td>{% if articulo.stock %}{{ articulo.stock }}{% else %}--{% endif %}</td>
                <td><a href="/articulos/detalle/{{ articulo.id }}" type="button" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                <td><a href="/articulos/editar/{{ articulo.id }}" type="button" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                <td><a href="/articulos/eliminar/{{ articulo.id }}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% empty %}
               <div class="alert alert-error" role="alert">No existen registro cargados con esa busqueda</div>
              {% endfor %}
            </tbody>
          </table>


         {% if is_paginated %}
          <nav aria-label="Page navigation conatiner"></nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Atrás </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Siguiente &raquo;</a></li>

            {% endif %}
          </ul>
          </nav>
        </div>
        {% endif %}

        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}