{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cargar un Artículo </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form method="POST"  class="form-horizontal form-label-left">
          {% csrf_token %}


            <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Código de barra</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.codigo_barra }}
                    <!-- error -->
                        {% if form.codigo_barra.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.codigo_barra.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

               <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Descripción</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.descripcion }}
                    <!-- error -->
                        {% if form.descripcion.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.descripcion.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->


               <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Referencia</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.referencia }}
                    <!-- error -->
                        {% if form.referencia.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.referencia.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->


              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Marca</label>
                <div class="col-md-7 col-sm-7 ">
                    {{ form.marca }}
                    <!-- error -->
                        {% if form.marca.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.marca.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                  <!-- controles adicionales  -->
                    <div class="col-md-1 col-sm-1">
                      <button onclick="abrirMarca()" class="btn btn-info"><i class="fa fa-plus"></i></button>
                    </div>
                  <!-- controles adicionales  -->
                
                </div>
             <!-- controles -->

             <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Rubro</label>
                <div class="col-md-7 col-sm-7">
                    {{ form.rubro }}
                    <!-- error -->
                        {% if form.rubro.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.rubro.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                  <!-- controles adicionales  -->
                    <div class="col-md-1 col-sm-1">
                      <button onclick="abrirRubro()" class="btn btn-info"><i class="fa fa-plus"></i></button>
                    </div>
                  <!-- controles adicionales  -->
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Precio de Compra</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.precio_compra }}
                    <!-- error -->
                        {% if form.precio_compra.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.precio_compra.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Precio de Venta</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.precio_venta }}
                    <!-- error -->
                        {% if form.precio_venta.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.precio_venta.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Stock</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.stock }}
                    <!-- error -->
                        {% if form.stock.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.stock.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Stock Mínimo</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.stock_minimo }}
                    <!-- error -->
                        {% if form.stock_minimo.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.stock_minimo.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->


             <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Imagen</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.imagen }}
                    <!-- error -->
                        {% if form.imagen.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.imagen.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->


             <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">IVA</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.alicuota_iva }}
                    <!-- error -->
                        {% if form.alicuota_iva.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.alicuota_iva.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

              <!-- controles -->
                <div class="form-group row ">
                <label class="control-label col-md-3 col-sm-3 ">Para la venta</label>
                <div class="col-md-9 col-sm-9 ">
                    {{ form.para_venta }}
                    <!-- error -->
                        {% if form.para_venta.errors %}
                          <div class="alert alert-danger" role="alert">
                            <p>{{ form.para_venta.errors|striptags }}</p>
                          </div>  
                        {% endif %}
                      <!-- error -->
                </div>
                
                </div>
             <!-- controles -->

          
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9  offset-md-3">
                <a  href="/articulos/listado" type="button" class="btn btn-primary">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>


   
  </div>

<!-- modal de carga de marcas  -->
<div class="modal fade" id="id_form_modal_marcas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cargar Marca</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" name="descripcion_marca" id="id_descripcion_marca" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Ingrese el marca aquí</small>
            <!-- error  message -->
              <div id="id_mensaje_error_marca" class="alert alert-danger" role="alert">
                <p>Error de carga, verifique el dato ingresado</p>
              </div>  
            <!-- error -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button onclick="guadarMarca()" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>  
  <!-- modal de carga de marcas  -->

<!-- modal de carga de rubros  -->
<div class="modal fade" id="id_form_modal_rubros" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cargar Rubro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" name="descripcion_rubro" id="id_descripcion_rubro" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Ingrese el rubro aquí</small>
            <!-- error  message -->
              <div id="id_mensaje_error_rubro" class="alert alert-danger" role="alert">
                <p>Error de carga, verifique el dato ingresado</p>
              </div>  
            <!-- error -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button onclick="guadarRubro()" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>  
  <!-- modal de carga de rubros  -->

{% endblock %}

{% block extra_js %}
  <script>
     $('#id_mensaje_error_marca').hide();
     $('#id_mensaje_error_rubro').hide();

   /* ------------- complemento marca ----------- */
   
    function abrirMarca(){
      $('#id_form_modal_marcas').modal('show');
    }
    function guadarMarca(){
      $.ajax({
        url: '/articulos/complementos/marca/alta',
        type: 'post',
        data: {
          'descripcion': $('#id_descripcion_marca').val(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success : function(data){
          if (data.status == '200'){
            $('#id_mensaje_error_marca').hide();
            $('#id_marca').append($('<option>',{
              value: data.id,
              text: $('#id_descripcion_marca').val()
            }));
            $('#id_form_modal_marcas').modal('hide');
             $('#id_marca').val(data.id);
             $('#id_descripcion_marca').val('');
          }else{
            $('#id_mensaje_error_marca').show();
          }
        }
      })
    }
    /* ------------- complemento marca ----------- */

    /* ------------- complemento rubro ----------- */
    function abrirRubro(){
      $('#id_form_modal_rubros').modal('show');
    }
     function guadarRubro(){
      $.ajax({
        url: '/articulos/complementos/rubro/alta',
        type: 'post',
        data: {
          'descripcion': $('#id_descripcion_rubro').val(),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success : function(data){
          if (data.status == '200'){
            $('#id_mensaje_error_rubro').hide();
            $('#id_rubro').append($('<option>',{
              value: data.id,
              text: $('#id_descripcion_rubro').val()
            }));
            $('#id_form_modal_rubros').modal('hide');
             $('#id_rubro').val(data.id);
             $('#id_descripcion_rubro').val('');
          }else{
            $('#id_mensaje_error_rubro').show();
          }
        }
      })
    }
    /* ------------- complemento rubro ----------- */
  </script>
{% endblock %}