{% extends 'base.html' %}
{% block content %}
<div class="row">
    

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Lista de Rubros </h2>
          
          <!-- buscador de listado -->
          <div class="title_right">
            <form method="GET">
              <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                  <input name="search" type="text" class="form-control" placeholder="Buscar por ...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Aceptar</button>
                  </span>
                </div>
              </div>
               <div class="col-md-1 col-sm-1 offset-md-1">
                    <a  href="/complementos/rubros/alta" type="button" class="btn btn-secondary"><i class="fa fa-file"></i></a>
              </div>
            </form>
          </div>

          <!-- buscador de listado -->
          
          <div class="clearfix"></div>

        </div>
        <div class="x_content">
          <br />
         
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              
              {% for rubro in object_list %}

              <tr>
                <th scope="row">{{ rubro.id  }}</th>
                <th scope="row">{{ rubro.descripcion  }}</th>
                <td><a href="/complementos/rubros/editar/{{ rubro.id }}" type="button" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                <td><a href="/complementos/rubros/eliminar/{{ rubro.id }}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


        </div>
      </div>
    </div>


   
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}